${store_name}

Verkaufe: Nr. ${m_active_id}
${hr}
${sp} ${total}

${result} ${sp} ${tid}
${name} ${sp} ${genehm}
${card} ${lese} ${sp} ${expiry_date}
${uid} ${sp} Beleg Nr. ${receipt_id}
${belegzeile}

${end_of_receipt}
