${store_name}

Verkaufe: Nr. ${m_active_id}
${hr}
${sp} ${total}

${name}
${card} ${lese} ${sp} ${expiry_date}
${uid} ${sp} ${tid} 
${sp} Genehmigungsnummer: ${genehm}
${sp} Beleg Nr. ${receipt_id}
${hr}
${result} ${sp} ${total}

${belegzeile}

${datetime}

${signature_line}



${end_of_receipt}
