${u_name}
${u_uid} ${sp} ${u_datum}~${u_zeit}
${u_result}

${t_kauf}
${u_ka_anz} ${sp} ${u_ka_betr}
${t_storno}
${u_st_anz} ${sp} ${u_st_betr}
${t_gutschr}
${u_gu_anz} ${sp} ${u_gu_betr}
${hr}
${sp} ${u_sum_vz}${u_sum}


